html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
 margin: 0;
 padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

/* .header,
.footer {
  height: 100px;
} */

.header__inner,
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333333;
}

.header__inner {
  justify-content: right;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header__nav-item {
  margin: 0 10px;
}

.header__nav-link {
  padding: 15px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.main {
  margin-bottom: auto;
}

.user__contacts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}