html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
 margin: 0;
 padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner,
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333333;
}

.header__inner {
  justify-content: right;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header__nav-item {
  margin: 0 10px;
}

.header__nav-link {
  padding: 15px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.header__nav-link:hover {
  border: 1px solid #fff;
}

.main {
  margin-bottom: auto;
}

.main__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user__contacts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 30px 0;
  border-bottom: 5px solid #333333;
}

.user__photo {
  width: 250px;
  height: 250px;
  background-color: #333333;
  border-radius: 20px;
}

.user__name-wrapper {
  text-align: center;
  padding: 15px;
  min-width: 380px;
}

.user__name {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #333333;
}

.user__status {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}

.user__contacts-item {
  font-size: 20px;
  font-weight: 600;
  min-width: 380px;
}

.user__contacts-link,
.user__contacts-text {
  padding: 10px 0 10px 40px;
}

.user__contacts-text {
  display: inline-block;
}

.user__contacts-item {
  position: relative;
  border-bottom: 1px solid transparent;
}

.user__contacts-link,
.section__list-link {
  cursor: pointer;
  transition: 0.3s;
}

.user__contacts-link:hover,
.section__list-link:hover {
  color: #ff4500;
}


.user__contacts-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 9px;
  width: 24px;
  height: 24px;
  /* z-index: -1; */
}

.contacts__location::before {
  background-image: url('../assets/svg/location.svg');
}

.contacts__mail::before {
  background-image: url('../assets/svg/mail.svg');
}

.contacts__telegram::before {
  background-image: url('../assets/svg/telegram.svg');
}

.contacts__discord::before {
  background-image: url('../assets/svg/discord.svg');
}

.contacts__github::before {
  background-image: url('../assets/svg/github.svg');
}

.main__inner {
  background-color: #f9fae0db;
}

.section {
  width: 49%;
  min-width: 580px;
  padding: 20px 10px;
  border-bottom: 1px solid #333333;
}

.section__title {
  margin: 20px 0 30px;

}

.section__text {
  margin: 20px;
  line-height: 1.2;
}

.section__subtitle {
  margin-bottom: 15px;
  font-size: 25px;
}

.section__list {
  margin-left: 23px;
}

.section__list-item {
  list-style-type: disc;
  margin: 10px 0;
}

.section__code {
  margin-left: 20px;
}

.section__list-link {
  font-weight: 600;
}

.footer__list {
  justify-content: space-around;
  text-align: center;
  color:#fff;
}

.footer__RSS-link {
  width: 130px;
}

.footer__list-span {
  font-size: 22px;
  font-weight: 700;
}

.footer__link {
  transition: 0.3s;
}

.footer__link:hover {
  transform: scale(1.1);
}